*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:darkgrey;
}

#navbar{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    background-color:khaki;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#logo{
    margin: 3px 5px;
}

#logo img{
    margin: 3px 2px;
    height: 40px;
    width: 60px;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 19px;
}

#navbar ul li a{
    text-decoration: none;
    display: block;
    margin: 0px 15px;
    padding: 1px 4px;
    color: white;
    border-radius: 6px;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#main{
    display:flex;
    flex-direction: column;
    /* border: 3px solid goldenrod; */
    /* margin: 18px 10px; */
    /* background-color: antiquewhite; */
}

#main::before{
    content: "";
    position: absolute;
    /* background: url('../image/bg2.jpg') no-repeat center center/cover; */
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.00;
}

.item{
    margin: 12px 1px;
}

.item img{
    width: 13px;
    height: 15px;
}

#description{
    margin: 17px 18px;
    border: 14px solid gray;
    background-color: aliceblue;
    width: 440px;
    height: 200px;
}

#description li{
    list-style: none;
}

.item a{
    text-decoration: none;
    color: black;
}

#intake{
    border: 2px solid blue;
    text-align: center;
    border-collapse: separate;
    width: 80%;
    height: 50%;
    margin: 71px 75px;
    padding: 1px 113px;
}

th{
    border: 2px solid rgb(160, 238, 96);
}

td{
    border: 2px solid rgb(0, 0, 0);
}

footer{
    background-color: honeydew;
    /* display:flex; */
    height: 120px;
}

#creater{
    border: 2px solid purple;
    text-align: center;
    background-color: cadetblue;
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* top:auto; */
}

/* #foot{
    
} */

#D124{
    display: inline-block;
    position: relative;
    left: 0px;
}

#D117{
    display: inline-block;
    margin: 9px 550px;

}

#P123{
    display: inline-block;
    position:relative;
    right: 0px;
}